@import "../../../globalStyles/scss/variables.scss";

.category {
  margin-top: 5.5rem;
  &__container {
    column-gap: $spacer * 1.5;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 60px 0;

    @media (max-width: $medium-screen) {
      display: block;
    }
  }
  &__header {
    text-align: center;
    padding-top: $spacer * 4.5;
    padding-bottom: $spacer * 4.5;
    background-size: cover;
    background-color: $blue-overlay;
    background-blend-mode: multiply;

    &__title {
      background-color: $white;
      display: inline-block;
      transform: skew(-45deg);
      padding: 1.5vw 9vw;

      h1 {
        display: inline-block;
        transform: skew(45deg);
        font-weight: $bold-font-weight;
        text-transform: uppercase;
        color: $blue;
        font-size: 8vw;
        font-weight: 900;

        @media (min-width: $small-screen) {
          font-size: 4vw;
        }
      }
    }
  }

  &__image {
    @media (max-width: $medium-screen) {
      margin-bottom: $spacer * 2;
    }
    
    img {
      width: 500px;

      @media (max-width: $medium-screen) {
        margin-top: -3.5rem;
        margin-left: -2rem;
        margin-right: -2rem;
        width: 100%;
      }
    }
  }

  &__content {
    
    h3 {
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }
  }
}
