@import "../../../globalStyles/scss/variables.scss";

.category {
  &__header {
    text-align: center;
    padding-top: $spacer * 6.5;
    padding-bottom: $spacer * 6.5;
    background-size: cover;
    background-color: $blue-overlay;
    background-blend-mode: multiply;

    &__title {
      background-color: none;
      display: inline-block;
      padding: 1.5vw 9vw;

      h1 {
        display: inline-block;
        font-weight: $bold-font-weight;
        text-transform: none;
        color: $white;
        font-size: 8vw;
        font-weight: 300;
        font-family: Miller Display Light,Georgia,"serif";

        @media (min-width: $small-screen) {
          font-size: 4vw;
        }
      }
    }
  }
}
