@import "../../App/scss/variables.scss";

.react-select-wrapper {
  .react-select {
    &__control {
      border-radius: 0;
      border-color: $blue;

      &:hover {
        border-color: $blue;
      }

      &--is-focused {
        box-shadow: 0 0 0 1px $blue;
      }
    }

    &__placeholder {
      font-weight: $bold-font-weight;
      color: $gray;
    }

    &__value-container {
      padding: $spacer / 2 $spacer;
    }

    &__indicator-separator {
      display: none;
    }

    &__dropdown-indicator {
      background: url("../../../images/arrow.svg");
      background-repeat: no-repeat;
      background-position: center;
      margin-right: $spacer;

      svg {
        display: none;
      }
    }

    &__menu {
      margin-top: 0;
      border-radius: 0;
      box-shadow: 0 0 0 1px $blue;
      border: 1px solid $blue;
    }

    &__menu-list {
      box-shadow: $select-menu-shadow;

      div {
        padding: $spacer $spacer / 2;
        margin: 0 $spacer;
        width: auto;

        &:not(:last-child) {
          border-bottom: 1px solid $gray;
        }
      }
    }

    &__option {
      &--is-focused,
      &--is-selected,
      &:active {
        background-color: $turquoise-light;
        color: $base-font-color;
      }
    }
  }
}
