@import "../../../globalStyles/scss/variables.scss";

.account-container {
  width: 80%;
  justify-content: center;
  margin: 5rem auto;

  @media screen and (max-width: $small-screen) {
    margin: 2rem auto;
  }
}
