@import "../../../globalStyles/scss/variables.scss";

.home-page {
  &__hero {
    background-color: $blue-overlay;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 12rem 0;

    &-text {
      overflow: hidden;
    }

    @media (max-width: $small-screen) {
      background-color: transparent;
      align-items: center;
      display: flex;
      flex-direction: column;
      height: calc(100vh - 118px);
      justify-content: space-around;
      padding: 0;

      &-text {
        width: 100%;
      }

      &-action {
        margin-bottom: $spacer * 3;
        width: 100%;
      }
    }

    &__title {
      display: inline-block;
      padding: $spacer $spacer * 3;
      margin-bottom: $spacer / 2;

      @media (max-width: $small-screen) {
        width: calc(100% - 4rem);
        padding: 0;
        margin-bottom: 13px;
      }

      h1 {
        display: inline-block;
        font-weight: $bold-font-weight;
        color: $blue;
        font-size: $h1-font-size;
        font-weight: 900;

        @media (max-width: $small-screen) {
          font-size: 25px;
          color: #ffffff;
        }

        @media (min-width: $small-screen) and (max-width: $medium-screen) {
          font-size: 48px;
        }
      }

      span {
        @media (max-width: $small-screen) {
          font-size: 18px;
          color: #ffffff;
        }
      }
    }

    &-btn {
      width: 200px;
      height: calc(100% - 75px);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      & a {
        width: 100%;
        &:not(:last-child) {
          margin-bottom: 50px;
        }
      }
      & .home-page__btn {
        background: #BFAD71;
        padding: 16px 35px;
        font-size: 14px;
        border-radius: 7px;
        box-shadow: 0px 3px 6px #00000029;
        color: white;
        width: 100%;
      }
    }

  }

  &__categories {
    margin-bottom: 2rem;

    h3 {
      text-transform: uppercase;
      font-weight: $bold-font-weight;
      margin-bottom: 1rem;
    }

    &__list {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 2rem;

      @media (min-width: $small-screen) {
        grid-template-columns: 1fr 1fr;

        > div {
          &:nth-child(3) {
            grid-column: 3 / 1;
          }

          &:nth-child(n + 4) {
            display: none;
          }
        }
      }

      a {
        text-decoration: none;
        color: $base-font-color;

        h3 {
          text-transform: uppercase;
          font-weight: $bold-font-weight;

          &:after {
            content: url("../../../images/carousel-arrow.svg");
            display: inline-block;
            transform: rotate(180deg);
            margin-left: 1rem;
          }
        }
      }

      &__image {
        width: 100%;
        height: 30rem;
        background-size: cover;
        background-position: center;
        margin-bottom: 1rem;

        &--no-photo {
          background-color: $turquoise-light;
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
    }
  }
}
