@import "../../globalStyles/scss/variables.scss";

.card {
  background-color: $turquoise-light;
  padding: 0 0;

  &__header {
    display: flex;
    align-items: center;
    height: 4rem;
    border-bottom: 1px solid $gray;
    font-weight: bold;
    padding: $spacer 2 * $spacer;
    @media screen and (max-width: $small-screen) {
      padding: $spacer;
    }
  }

  &__content {
    padding: $spacer 2 * $spacer;
    @media screen and (max-width: $small-screen) {
      padding: $spacer;
    }
  }
}
