@import "../../App/scss/variables.scss";

@keyframes sidenavLeftOpen {
  from {
    left: -100rem;
  }
  to {
    left: 0;
  }
}

@keyframes sidenavRightOpen {
  from {
    right: -100rem;
  }
  to {
    right: 0;
  }
}

.overlay {
  position: fixed;
  top: 0;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  background-color: rgba(199, 207, 207, 0.8);

  &--search {
    top: 3.8rem;

    .overlay__right {
      height: auto;
    }
  }

  &__left {
    position: fixed;
    min-height: 100%;
    background-color: $white;
    animation: sidenavLeftOpen 0.3s;
  }

  &__right {
    position: fixed;
    background-color: $white;
    right: 0;
    top: 0;
    height: 100%;
    animation: sidenavRightOpen 0.3s;
  }

  &__header {
    text-transform: uppercase;
    font-weight: $bold-font-weight;
    border-bottom: 1px solid $gray-light;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      width: 100%;
      padding: $spacer;

      span {
        color: $gray;
      }
    }

    &__close-icon {
      padding: $spacer $spacer $spacer $spacer / 2;
    }

    &__cart-icon {
      padding: $spacer $spacer / 2 $spacer $spacer;
      svg * {
        fill: $turquoise;
      }
    }
  }
}
