@import "../../../globalStyles/scss/variables.scss";

.my-account-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (max-width: $small-screen) {
    flex-direction: column;
  }

  &__item {
    margin: 5px;
    flex: 0 1 49%;
  }
}
