@import "../../../globalStyles/scss/variables.scss";

.my-account-container {
  content: "";
  width: 100%;
  display: table;
  clear: both;
  margin-bottom: 2 * $spacer;

  &__column {
    float: left;
    width: 48%;

    @media screen and (min-width: $medium-screen) {
      margin: $spacer / 2;
    }

    @media screen and (max-width: $small-screen) {
      width: 100%;
      margin-bottom: 0;
    }
  }

  &__item {
    @media screen and (max-width: $small-screen) {
      margin-bottom: $spacer / 2;
    }
    @media screen and (min-width: $medium-screen) {
      margin-bottom: $spacer;
    }
  }
}
