@import "../../../globalStyles/scss/variables.scss";

.my-account-container {
  display: grid;
  margin: $spacer 0;
  grid-template-columns: 1fr;
  // grid-auto-columns: 1fr 1fr;
  grid-auto-flow: row dense;
  @media screen and (min-width: $medium-screen) {
    grid-template-columns: 1fr 1fr;
  }

  &__item {
    margin: 5px;
  }
}
