@import "../../../globalStyles/scss/variables.scss";

.product-page {
  background-color: $base-body;

  &__product {
    display: flex;
    background-color: $white;
    padding: $spacer;
    border: 1px solid #cccccc;

    @media (max-width: $small-screen) {
      display: block;
      margin-bottom: $spacer * 2;
    }

    &__description {
      width: 100%;
      min-height: $spacer * 10;
      margin-bottom: $spacer;
      margin-top: $spacer;
    }

    &__info {
      flex-grow: 1;
      width: 30%;
      position: relative;

      @media (max-width: $medium-screen) {
        width: 30%;
      }

      @media (max-width: $small-screen) {
        width: 100%;
      }

      > div {
        @media (min-width: $small-screen) {
          padding-right: 1rem;
        }
      }

      &--fixed {
        top: 0;
        width: auto;

        @media (min-width: $container-width) {
          width: calc(#{$container-width} * 30 / 100);
        }
      }
    }

    &__gallery {
      flex-grow: 2;
      width: 60%;
      padding: 0 $spacer 0 0;
      box-sizing: border-box;

      @media (max-width: $medium-screen) {
        width: 50%;
      }

      @media (max-width: $small-screen) {
        width: 100%;
        padding: 0;
        margin-bottom: $spacer * 2;
        padding: 0;
      }

      &__nav {
        li {
          display: inline-block;
          padding: $spacer / 2;

          span {
            width: $spacer / 2;
            height: $spacer / 2;
            border: 1px solid $gray;
            border-radius: $spacer / 2;
            display: block;
          }

          &.active {
            span {
              background-color: $turquoise;
              border-color: $turquoise;
            }
          }
        }
      }
    }
  }

  &__other-products {
    background-color: $white;
    padding: $spacer * 4 0;

    &__title {
      text-transform: uppercase;
      font-weight: $bold-font-weight;
      margin-bottom: $spacer * 2;
    }
  }
}
.product-list-item {
  text-align: center;

  &__title {
    text-transform: $product-item-title-text-transform;
    font-weight: $product-item-title-font-weight;
    margin-top: $spacer;
    text-align: left;
  }

  &__undiscounted_price {
    text-decoration: line-through;
    color: $gray;
    font-size: $small-font-size;
    font-weight: regular;
  }

  &__category {
    color: $product-item-category-color;
    text-align: left;
  }

  &__price {
    font-weight: $product-item-price-font-weight;
    margin: $product-item-price-margin;
    text-align: left;
  }

  &__image {
    background-color: $turquoise-light;
    display: flex;
    height: 350px;
    justify-content: center;

    img {
      object-fit: contain;
      max-width: 100%;
    }

    @media (max-width: $small-screen) {
      height: 210px;
    }
  }
}

.products-featured-slide {
  background-color: $white;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  a {
    color: #323232;
    display: inline-block;
    max-width: 255px;
    text-decoration: none;
  }
}
