@import "../../../../globalStyles/scss/variables.scss";

$drawer-width: 25rem;

.search {
  width: 100vw;
  height: 100%;

  @media (min-width: $medium-screen) {
    width: $drawer-width;
  }

  &--has-results {
    min-height: 100vh;
  }

  .input {
    margin-bottom: 0;
  }

  &__input {
    display: grid;
    // grid-template-columns: 4fr 1fr;
    align-items: center;
    position: relative;
    .search-dropdown {
      position: absolute;
      left: 0;
      z-index: 1;
      width: 58px;
      display: flex;
      justify-content: center;
      align-items: center;
      &__btn {
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        background: #e1e1e1;
        border: 0, 5px solid #cbcbcb;
        height: 40px;
        border-radius: 5px 0 0 5px;
        opacity: 1;
        &__title {
          margin-left: 3px;
          font-size: 0.8rem;
          color: $black;
          font-weight: normal;
        }
      }
      svg {
        display: flex;
        width: 1rem;
      }
    }
    .input {
      // position: relative;
      width: 100%;
      margin-bottom: 0;
    }

    .input__icon-right {
      svg * {
        fill: $base-font-color;
      }
    }

    .input__icon-left {
      svg * {
        fill: $base-font-color;
      }
    }

    .input__field {
      background-color: $turquoise-light;
      box-shadow: none;
      padding: 0.8rem;
      width: 100%;
      height: 40px;
      border: none;
      border-right: none;
      border-radius: 5px;
      padding-left: 8%;
      padding-right: 12%;

      &:focus {
        box-shadow: none;
      }

      &::placeholder {
        text-transform: uppercase;
        font-size: $base-font-size;
        color: $black;
      }
    }
    .search-button {
      position: absolute;
      right: 0;
      width: 114px;
      .btn-search {
        width: 100%;
        display: flex;
        background-color: #fdbb58;
        // padding: 0 1.5rem;
        height: 40px;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        color: $white;
        // padding-top: 2px;
        svg * {
          fill: $black;
        }
        svg {
          padding-top: 3px;
        }

        &__title {
          font-size: 1rem;
          color: $black;
          font-weight: normal;
          // margin-left: 12px;
          // padding-top: 3px;
        }
      }
    }
  }

  &__products {
    background: $white;
    overflow: auto;
    padding: $spacer / 2 0;
    position: relative;
    right: 0;
    transition: 300ms;
    height: calc(100vh - 3rem);

    @media (min-width: $medium-screen) {
      right: -$drawer-width;
    }

    &--expanded {
      right: 0;
    }

    &--not-found {
      padding: 14px;
    }

    &__item {
      padding: $spacer / 2 $spacer;

      img {
        width: 3.6rem;
        height: 3.6rem;
        display: inline-block;
        margin-right: $spacer;
        vertical-align: top;
      }

      span {
        display: inline-block;
        width: calc(100% - 4.6rem);
      }

      h4 {
        text-transform: uppercase;
        font-weight: $bold-font-weight;
        padding: $spacer / 4 0;
        color: $base-font-color;
      }

      p {
        color: $gray;
      }

      &:hover {
        background-color: $gray-light;
      }

      ul {
        max-height: calc(100vh - 9rem);
      }
    }

    &__footer {
      border-top: 1px solid $gray-light;
      text-align: center;
      padding: $spacer 0;
      flex: 1;
      justify-content: center;
    }
  }
}
