@import "../../../globalStyles/scss/variables.scss";

.products-featured {
  padding: 2rem 0 4rem;

  h3 {
    text-transform: uppercase;
    font-weight: 200;
    margin-top: 1rem;
    text-align: center;
  }

  a {
    color: $base-font-color;
    display: inline-block;
    max-width: 255px;
    text-decoration: none;
  }
}
