@import "../../../globalStyles/scss/variables.scss";

.products-featured {
  padding: 2rem 0 4rem;

  h3 {
    font-weight: 0;
    margin-bottom: $spacer * 2;
    text-transform: none;
    font-size: 28px;
  }

  a {
    color: $base-font-color;
    display: inline-block;
    max-width: 255px;
    text-decoration: none;
  }
}
