@import "../../../globalStyles/scss/variables";

.slider-page {
  height: 100vh;

  & > div {
    height: 100%;
  }
}

.home-page__root {
  background-repeat: no-repeat;
  background-size: cover;
}

.divImg {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;

  .browse-cabinet__header {
    padding: 1.875rem 0.625rem 0;
    height: ($spacer * 3);

    &-icon .injected-svg {
      & > path:first-child {
        fill: white;
      }

      .a {
        stroke: white;
      }
    }
  }
}

.home-page__btn {
  background: $light-grayish-orange;
  padding: $spacer 2.1875rem;
  font-size: $small-font-size;
  border-radius: 1.5625rem;
  box-shadow: $home-button-shadow;
  color: white;
  width: 100%;
}

.overlay-wrap {
  position: relative;
  height: calc(100vh - 3.625rem);
  overflow: hidden;

  .overlay-wrap--inner {
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: all 0.3s ease-out;

    .overlay-height {
      background-color: rgba(78, 78, 78, 0.74);
      flex-direction: column;
      padding: 1.0625rem;
      justify-content: space-between;
      width: 100%;
      transition: all 0.3s ease-out;
    }

    .overlay-heading {
      font-size: $h4-font-size;
      color: white;
      height: ($spacer * 3);
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.625rem;
    }

    .overlay-button-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .home-page__btn {
        width: 12.5rem;
      }

      a {
        &:not(:last-child) {
          margin-bottom: 1.75rem;
        }
      }
    }

    .overlay-arrow {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .overlay-arrow-div {
    height: 7.188rem;
  }

  .overlay-down-arrow-div {
    height: 100%;

    .overlay-height-down {
      height: calc(100% - 3.625rem);
      display: flex;
    }
  }
}

.inner-page-wrapper {
  padding: 1.0625rem;
  min-height: 100vh;
  background-color: $alabaster;

  .browse-cabinet__header {
    padding-top: 1.0625rem;
  }

  .wrapper-header {
    margin: 1.875rem 0 ($spacer * 3);
    color: $dull-orange;
    font-size: 1.5625rem;
    padding-bottom: 0.875rem;
    border-bottom: 1px solid #f3f0e4;
  }

  .wrapper-sub-header {
    font-size: 1.125rem;
    color: $dull-orange;
    line-height: 1.375rem;
    margin-bottom: 1.25rem;
  }

  .select-value {
    margin-bottom: 2.3125rem;

    &--item {
      &:not(:last-child) {
        margin-bottom: 1.25rem;
      }

      .css-bg1rzq-control {
        min-height: 3.125rem;
        border-color: $gray;
      }

      .css-bgvzuu-indicatorSeparator {
        display: none;
      }

      .css-16pqwjk-indicatorContainer {
        color: $emperor;
      }
    }
  }

  .wrapper-coming-soon {
    height: calc(100vh - 12.5rem);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    .text {
      font-size: 1.875rem;
      font-weight: 700;
      color: $dull-orange;
    }
  }

  .wrapper-img {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: $small-font-size;
    row-gap: $small-font-size;
    margin-bottom: 2.125rem;

    &-main {
      position: relative;
      width: 100%;
      padding-top: 100%;
      background-color: $white;
      height: 12.5rem;
      border-radius: 0.313rem;

      &-inner {
        border: 1px solid transparent;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 0.438rem 1.375rem;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        &.withBorder {
          border: 1px solid #b09a51;
        }

        &--header {
          display: flex;
          justify-content: center;
          font-size: $small-font-size;
          color: $dark-gray;
        }

        &--img {
          height: calc(100% - 3.875rem);
          margin: 0.5rem 0 0.875rem;

          img {
            max-width: 100%;
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }

        &--price {
          display: flex;
          justify-content: center;

          .old-price {
            font-size: 0.75rem;
            margin-right: 0.5rem;
            color: $gray;
          }

          .new-price {
            font-size: 0.8125rem;
            color: $dull-orange;
          }
        }
      }
    }
  }

  .home-page__btn {
    transition: all 0.3s;
    position: relative;
    z-index: 0;
    background: $light-grayish-orange;
    padding: 16px 35px;
    border-radius: 25px;

    &:hover {
      &:after {
        height: 100%;
        left: 0;
        top: 0;
        width: 100%;
      }
    }

    &:after {
      background: $black-bg;
      content: "";
      position: absolute;
      z-index: -1;
      height: 0;
      left: 50%;
      top: 50%;
      width: 0;
      border-radius: 1.5625px;
      transition: all 0.3s ease;
    }

    &:before {
      background: $black-bg;
      content: "";
      position: absolute;
      z-index: -1;
    }
  }
}

.specification-wrapper {
  .wrapper-description {
    font-size: $base-font-size;
    color: $dark-gray;

    .wrapper-data:not(:last-child) {
      margin-bottom: 1.25rem;
    }
  }
}
.items-inner-page {
  overflow-x: hidden;
  overflow-y: auto;

  .addcart-card-wrapper {
    .addcart-card {
      transition: 0.3s;
      width: 100%;
      background: $white;
      box-shadow: $home-button-shadow;
      border-radius: 0.313rem;
      padding: 0.9375rem 0.8125rem 1.0625rem 1.1875rem;
      display: flex;

      &:hover {
        box-shadow: $add-cart-button-hover;
      }

      &:not(:last-child) {
        margin-bottom: 0.625rem;
      }

      .addcart-card--img {
        flex: 1 0 20%;
        max-width: 20%;
        margin-right: 1.875rem;

        .img-wrapper {
          position: relative;

          img {
            object-fit: cover;
            width: 100%;
          }

          .small-img {
            position: absolute;
            bottom: 0.375rem;
            right: -0.875rem;
            width: 1.75rem;
            height: 1.75rem;
            background: $gimblet;
            border-radius: 50%;
            border: 0.063rem solid $gallery;
          }
        }
      }

      .addcart-card-container {
        flex: 1 0 80%;
        max-width: calc(80% - 30px);

        &--header {
          font-size: 0.75rem;
          font-weight: bold;
          color: $light-grayish-orange;
          margin: 0.6875rem 0 0.875rem;
          line-height: 0.9375rem;
        }

        &--sub-header {
          margin-bottom: 1.25rem;
          display: flex;
          flex-direction: column;

          & span {
            color: $suva-grey;
            font-size: 0.625rem;
            line-height: $spacer;
          }
        }

        &--detail {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 1.625rem;

          .detail-price {
            font-size: $base-font-size;
            font-weight: bolder;
            color: $light-grayish-orange;
            line-height: 1.1875rem;
          }

          .detail-counter {
            display: flex;

            .qty-text {
              width: 1.25rem;
              margin: 0 0.625rem;
              display: flex;
              justify-content: center;
              align-items: center;
            }

            .qty-operator {
              background: $dark-khaki;
              color: white;
              height: 1.5rem;
              width: 1.5rem;
              border-radius: 50%;
              font-size: 1.125rem;
              line-height: 1.375rem;
              display: inline-flex;
              justify-content: center;
              align-items: center;
              z-index: 1;
            }
          }
        }

        &--btn {
          display: flex;
          justify-content: flex-end;

          & button {
            width: 9.375rem;
            border: 0.125rem solid #b09a51;
            padding: 0.625rem 1.6875rem;
            border-radius: 0.625rem;
            font-size: $base-font-size;
            line-height: 1.1875rem;
            color: $dull-orange;
          }
        }
      }
    }
  }
}
