@import "../../../globalStyles/scss/variables.scss";

.product-list-item {
  text-align: center;
  background: $white;
  // padding: 0 12.5px !important;
  border-radius: 3px;
  // border: 1px solid #ebecf0;
  height: 100%;

  &__title {
    // text-transform: $product-item-title-text-transform;
    font-weight: $product-item-title-font-weight;
    margin-top: 10px !important;
    font: normal normal bold 16px/23px Arial;
    letter-spacing: 0.32px;
    color: $black;
    opacity: 1;
    text-align: center;
  }

  &__undiscounted_price {
    text-decoration: line-through;
    color: $gray;
    font-size: $small-font-size;
    font-weight: regular;
  }

  &__category {
    color: $product-item-category-color;
    text-align: center;
  }

  &__price {
    // font-weight: $product-item-price-font-weight;
    // margin: $product-item-price-margin;
    text-align: center;
    // margin-top: 0.5 * $spacer;
    // margin: 7px 0 15px 0 !important;
    font: normal normal normal 16px/23px Arial;
    letter-spacing: 0.32px;
    color: $black;
    opacity: 1;
  }

  &__image {
    background-color: $turquoise-light;
    display: flex;
    height: 217px !important;
    width: 217px;
    justify-content: center;
    margin: 0 auto;

    img {
      object-fit: cover;
      max-width: 100%;
    }

    @media (max-width: $small-screen) {
      height: 210px;
    }
  }
}
