@import "../../App/scss/variables.scss";

.product-list-item {
  text-align: center;

  img {
    background-color: #f1f5f5;
    height: 255px;
    max-width: 100%;
    width: auto;
  }

  &__title {
    text-transform: $product-item-title-text-transform;
    font-weight: $product-item-title-font-weight;
    margin: $product-item-title-margin;
    height: $product-item-title-height;
    text-align: left;
  }

  &__category {
    color: $product-item-category-color;
    text-align: left;
  }

  &__price {
    font-weight: $product-item-price-font-weight;
    margin: $product-item-price-margin;
    text-align: left;
  }
}
