@import "../../../components/App/scss/variables.scss";

.cart-page {
  &__header {
    margin-top: $spacer * 3;
  }

  &__table {
    &__subtotal {
      color: $gray-dark;
      font-weight: $bold-font-weight;
    }

    &__quantity {
      &-header {
        text-align: center;
      }

      &-cell {
        div {
          align-items: center;
          display: flex;
          justify-content: space-around;
        }

        & > div {
          padding: 0.5rem;
        }

        svg:hover {
          cursor: pointer;
        }

        &--processing {
          svg {
            &:hover {
              cursor: initial;
            }

            path {
              stroke: $white;
            }
          }
        }
      }
    }
  }

  &__thumbnail {
    img {
      width: 50px;
      height: auto;
    }
  }

  &__checkout-action {
    text-align: right;
    margin: 0 $spacer * 2 $spacer * 3;

    @media (max-width: $small-screen) {
      text-align: center;
    }
  }

  &__empty {
    text-align: center;
    padding: $spacer * 5 0;

    h4 {
      font-weight: $bold-font-weight;
      text-transform: uppercase;
      margin-bottom: $spacer;
    }

    p {
      color: $gray;
    }

    &__action {
      text-align: center;
      margin-top: $spacer;
    }
  }
}
