@import url('~reset-css');
@import url('~typeface-montserrat');

@import './variables.scss';

body {
    font-family: $base-font-family;
    p {
        font-size: $base-font-size;
        line-height: $base-line-height;
    }
}
