@import url("~reset-css");
@import url("~typeface-montserrat");

@import "./variables.scss";

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $base-font-color;

  * {
    box-sizing: border-box;
  }

  h1 {
    font-size: $h1-font-size;
    line-height: $h1-line-height;
  }
  h3 {
    font-size: $h3-font-size;
  }
  h4 {
    font-size: $h4-font-size;
  }

  .container {
    width: $container-width;
    max-width: 100vw;
    margin: 0 auto;
    padding: 0 $spacer;
  }

  table {
    width: 100%;
    margin: $spacer * 3 0;
    font-size: $small-font-size;

    th {
      color: $gray-dark;
      text-align: left;
      padding: $spacer 0;
      font-weight: $bold-font-weight;
    }

    tr {
      border-bottom: 1px solid $gray-light;
    }

    td {
      padding: $spacer 0;
      vertical-align: middle;

      img {
        vertical-align: middle;
        margin-right: $spacer;
      }
    }
  }
}
