@import '~reset-css';
@import './variables.scss';
@import '~typeface-montserrat/index.css';

body {
    font-family: $base-font-family;
    p {
        font-size: $base-font-size;
        line-height: $base-line-height;
    }
}
