// colors
$turquoise-dark: #55C4B3;
$turquoise: #51E9D2;
$blue: #21125E;
$rose: #C22D74;
$green: #3ED256;
$gray: #949494;
$white: #ffffff;

// typography
$base-font-size: 16px;
$base-line-height: 20px;
$h3-font-size: 24px;

// button
$button-font-size: 18px;
$button-line-height: 20px;
