@import "../../App/scss/variables.scss";

.social-icon {
  margin: 0 $spacer / 2;

  &.md-icon {
    fill: $base-font-color;
  }

  svg * {
    transition: 0.3s;
  }

  &:hover {
    svg * {
      fill: $turquoise;
    }
  }
}