@import "../../../../components/App/scss/variables.scss";

.checkout-payment {
  form {
    width: 100%;
  }

  &__form {
    display: grid;
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;
    grid-template-columns: 1fr;

    > .c-option__content {
      @media (min-width: $medium-screen) {
        padding: 0 3rem 0 6rem;
      }

      .c-option {
        background-color: $white;
      }
    }
  }

  .input {
    margin-bottom: $spacer / 2;
  }

  &__form-grid {
    display: grid;
    grid-gap: 0 $spacer;
    grid-template-columns: 1fr 1fr;
  }

  &__field-error {
    .input {
      margin-bottom: 0;
    }
  }

  &__error {
    margin-bottom: $spacer;
    display: block;

    & ~ & {
      margin-top: -1rem;
    }
  }
}
