@import "../../App/scss/variables.scss";

.address-form {
  .input,
  .react-select-wrapper {
    margin-bottom: $spacer / 2;
  }

  button {
    margin: $spacer * 2 0 0 $spacer * 2;
  }

  &__grid {
    display: grid;
    grid-gap: 0 $spacer;
    grid-template-columns: 1fr 1fr;
  }

  &__copy-address {
    padding: $spacer 0 ($spacer * 2);
  }
}
