@import "../../../globalStyles/scss/variables.scss";

.header-with-dropdown {
  z-index: 3;
}
.container-wrapper {
  position: fixed;
  z-index: 20000;
  margin: 0 auto;
  width: 100%;
  background-color: $mainColorHeader;
  // border: 5px solid $mainColorHeader;
  .container-main-menu {
    width: 1280px;
    margin: 0 auto;
  }
}
.main-menu {
  .main-menu__icon.main-menu__user--active {
    padding-right: 0px;
  }
  background-color: $mainColorHeader;
  // border-bottom: 1px solid $gray-light;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  // grid-template-columns: 1fr;
  // grid-gap: 1rem;
  padding: 1rem 40px;
  justify-items: center;
  // padding-bottom: 22px;
  @media (min-width: $small-screen) {
    // grid-template-columns: 2fr 8fr 1.8fr;
    height: 70px;
    padding: 0.5rem 19px;
    justify-items: normal;
  }
  &__wrapper-icon {
    background-color: $mainColorHeader !important;
  }
  &__user {
    padding-right: 0px !important;
    svg {
      .a,
      .c {
        fill: none;
      }
    }
  }

  &__left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    ul {
      display: flex;
      align-items: center;
      height: 100%;
    }
    svg {
      width: 141px;
      height: 46px;
      cursor: pointer;
      path {
        fill: #ff6a00;
      }
    }
    &__logo {
      width: 80px;
    }
    &__showGroupItem {
      display: flex;
      margin-left: 40px;
      justify-content: flex-start;
      align-items: center;
      width: 114px;
      img {
        width: 22px;
      }
      &__title {
        width: fit-content;
        font: normal normal normal 16px/22px Arial;
        letter-spacing: 0px;
        color: $white;
        opacity: 1;
        margin-left: 15px;
        font-size: 1rem;
        color: $white;
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 40px;
    width: 100%;
    ul {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background: $white;
      max-height: 299px;
    }
  }

  &__center {
    // height: 40px;
    margin-right: 20px;
    align-self: center;
    position: relative;
    flex: 1;
    svg {
      // width: 1.5rem;
    }
  }

  &__item {
    font-weight: $bold-font-weight;
    height: 100%;
    text-transform: uppercase;

    a {
      text-decoration: none;
      color: $base-font-color;
      position: relative;
      transition: 0.3s;

      &:hover {
        color: $turquoise;
      }
    }
  }

  &__hamburger {
    border-right: 1px solid $gray-light;
    cursor: pointer;
    padding: $spacer;

    &--hover {
      display: none;
    }

    &:hover {
      .main-menu__hamburger--icon {
        display: none;
      }

      .main-menu__hamburger--hover {
        display: block;
      }
    }

    svg {
      vertical-align: bottom;
    }
  }

  &__item,
  &__hamburger {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__icon {
    padding: 0 20px;
    cursor: pointer;
    &:last-child {
      padding-right: 0px;
    }
    svg * {
      transition: 0.3s;
    }

    &:hover {
      svg * {
        fill: $orange;
      }
    }

    svg {
      vertical-align: bottom;
    }
  }

  &__cart {
    position: relative;

    &__quantity {
      position: absolute;
      top: -0.3rem;
      right: 0.6rem;
      background-color: $blue;
      border-radius: 1rem;
      padding: 0 0.3rem;
      min-width: 1rem;
      height: 1rem;
      color: $white;
      font-size: $small-font-size;
      text-align: center;
      line-height: 1rem;
      transition: 0.3s;
    }
  }

  &__user {
    &--active * {
      fill: $orange;
      fill-rule: inherit;
    }
  }

  &__dropdown {
    text-transform: uppercase;
    font-weight: $bold-font-weight;

    li {
      cursor: pointer;
      margin: 0 auto;

      &:hover {
        color: $gray;
      }

      &:not(:last-of-type) {
        border-bottom: 1px solid $gray-light;
      }
    }
  }

  &__offline {
    line-height: 24px;
    padding: $spacer;

    span {
      text-transform: uppercase;
      font-weight: $bold-font-weight;
      vertical-align: bottom;
    }
  }

  &__search {
    padding: $spacer / 2 $spacer;
    cursor: pointer;
    line-height: 24px;
    transition: 0.3s;
    display: flex;
    justify-content: space-between;
    border: 1px solid #21125e;
    border-radius: 20px;

    svg * {
      transition: 0.3s;
    }

    &:hover {
      color: $turquoise;
      svg * {
        fill: $turquoise;
      }
    }

    span {
      text-transform: uppercase;
      font-weight: $bold-font-weight;
      margin-right: $spacer;
    }

    div {
      display: inline-block;
    }

    svg {
      vertical-align: bottom;
    }
  }

  &__nav-dropdown {
    padding: 0 1.5rem;

    &--active {
      background-color: $turquoise-light;
    }

    & > li:first-child {
      text-align: center;
    }

    &__body {
      background: $white;
      border-top-color: $gray-light;
      border-top-style: solid;
      border-top-width: 1px;
      display: none;
      left: 0;
      padding: 2rem;
      position: absolute;
      top: 100%;
      width: 100%;
      z-index: 3;

      &--visible {
        display: block;
      }

      li *,
      ul * {
        display: block !important;
      }

      > ul > li {
        align-self: flex-start;
        margin-left: 2rem;
        position: relative;
        width: 188px;

        // 2nd level name
        > a {
          font-size: $base-font-size;
          position: relative;
          text-transform: uppercase;
          padding-bottom: 9px;
          margin-bottom: 3px;
        }
        > ul > li:first-child {
          position: relative;

          &:before {
            background-color: $turquoise-light;
            content: "";
            height: 1px;
            left: 0;
            position: absolute;
            top: -3px;
            width: 100%;
          }
        }

        ul {
          // 3rd+ level names
          a {
            font-size: $small-font-size;
            font-weight: normal;
            padding: 6px 0;
            text-transform: capitalize;
          }

          li > ul {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
