@import "../../../globalStyles/scss/variables.scss";

.footer {
  background-color: $white;
  color: black;
  padding: 0 85px;
  width: 1280px;
  margin: 0 auto;
  &-email {
    margin-left: 33px;
    .formEmail {
      margin-top: 33px;
      display: flex;
      justify-content: center;
      align-items: baseline;
      .input__field {
        width: 341px;
        height: 50px;
        background: #f0f0f0;
        border: 1px solid $white;
        color: $black;
        box-shadow: none;
        &:hover {
          box-shadow: none;
        }
      }
      .input__field--error {
        border: 1px solid #fe6e76;
      }
      .email-form__button {
        .button {
          transform: none;
          margin-left: 31px;
          background: #188c72;
          border: 1px solid #c6cad1;
          box-shadow: none;
          padding: 12px 20px;
          color: $white;
          span {
            font: normal normal normal 18px/22px Arial;
            letter-spacing: 0.36px;
            color: $white;
            opacity: 1;
            // font-size: 16px;
            transform: none;
            text-transform: capitalize;
            font-weight: normal;
          }
        }
      }
    }
  }
  &-siteMap {
    // padding: 0 50px;
    padding-top: 28px;
    border-bottom: 1px solid #7b7b7b;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0.5rem;
    @media (min-width: $small-screen) and (max-width: $medium-screen) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: $small-screen) {
      grid-template-columns: 1fr;
    }
    dl {
      margin: 0 0 30px 0;
    }
    dt {
      font: normal normal bold 16px/19px Arial;
      letter-spacing: 0.06px;
      color: #7a7a7a;
      text-transform: capitalize;
      opacity: 1;
      // font-size: 20px;
      line-height: 14px;
      padding: 10px 0;
      // margin-bottom: 6px;
      // color: #7b7b7b;
    }
    dd {
      font: normal normal normal 13px/19px Arial;
      letter-spacing: 0.05px;
      color: #979797;
      text-transform: capitalize;
      opacity: 1;
      padding: 6px 0;
      line-height: 12px;
      margin: 0;
      a {
        font-size: 16px;
        color: #acacac;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .siteMap-col {
      margin: 0 auto;
    }
  }
  &__favicons {
    // padding: 0 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    margin: 44px 0 22px 0;
    color: #7b7b7b;
    @media (min-width: $small-screen) {
      grid-template-columns: 1fr 1fr;
    }
    .favicons-col-left.favicons-col {
      display: flex;
      justify-content: flex-start;
    }
    .favicons-col-right.favicons-col {
      display: flex;
      justify-content: flex-end;
    }
    .favicons-col {
      margin: 10px 0;
      width: 95%;
      @media (min-width: $small-screen) {
        margin: 0;
        width: 100%;
      }
      .favicons-col-main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        & a:last-child {
          .social-icon {
            padding-right: 0px;
          }
        }
        .social-icon {
          padding: 0 0.3rem;
          svg {
            width: 30px;
            height: 30px;
          }
        }
      }
      .social-main {
        display: flex;
        flex-direction: row;
        align-items: center;
        .sociality-text {
          font: normal normal normal 18px/19px Arial;
          letter-spacing: 0.07px;
          color: #7b7b7b;
          text-transform: capitalize;
          opacity: 1;
        }
        a {
          text-indent: -9999px;
        }
      }
    }
    .app-store {
      background: url(../images/vers0.5x.png) no-repeat;
      background-position: 0 -96px;
      margin-top: -1px;
      width: 130px;
      height: 34px;
      margin-right: 7px;
      margin-left: 10px;
    }
    .android {
      background: url(../images/vers0.5x.png) no-repeat;
      background-position: 0 -146px;
      margin-top: -1px;
      width: 130px;
      height: 34px;
      margin-right: 7px;
      margin-left: 2px;
    }
  }
  &__copyright {
    color: #7b7b7b;
    margin: 0 0 2rem;
  }

  &__menu {
    background-color: $gray-light;
    padding: $spacer * 3 0 $spacer * 2;

    .container {
      display: flex;
      flex-wrap: wrap;

      div {
        &:not(:last-of-type) {
          padding-right: $spacer * 3;
        }
      }
    }

    &-section {
      &-header {
        font-weight: $bold-font-weight;
        margin-bottom: $spacer;
      }

      &-content {
        p {
          font-weight: $bold-font-weight;
          margin-bottom: $spacer;
          font-size: $small-font-size;
          color: $gray;

          a {
            text-decoration: none;
            color: $gray;
          }
        }
      }
    }
  }

  &-nav {
    padding: $spacer * 3 0 $spacer * 2;

    .container {
      display: flex;
      flex-wrap: wrap;

      div:not(:last-of-type) {
        padding-right: $spacer * 3;
      }
    }

    &__section {
      &-header {
        font-weight: $bold-font-weight;
        margin-bottom: $spacer;
        text-transform: uppercase;
      }

      &-content {
        p {
          margin-bottom: $spacer;
          font-size: $small-font-size;
          color: $gray;

          a {
            text-decoration: none;
            color: $gray;
          }
        }
      }
    }
  }
}
