@import "../../App/scss/variables.scss";

.footer {
  &__newsletter {
    border-top: 1px solid $gray-light;
    border-bottom: 1px solid $gray-light;
    padding: $spacer * 2 0;

    .container {
      @media (min-width: $medium-screen) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $base-font-color;
      }

      h4 {
        color: $gray;
        font-weight: $bold-font-weight;

        @media (min-width: $medium-screen) {
          font-size: $h3-font-size;
          color: $base-font-color;
        }
      }

      button {
        margin: $spacer * 2 auto 0;
        display: block;

        @media (min-width: $medium-screen) {
          margin: 0 2rem 0 0;
        }
      }
    }
  }

  &__favicons {
    display: flex;
    justify-content: center;

    &__icon {
      padding: $spacer $spacer / 2;

      svg * {
        transition: 0.3s;
      }

      &:hover {
        svg * {
          fill: $turquoise;
        }
      }
    }
  }

  &__menu {
    background-color: $gray-light;
    padding: $spacer * 3 0 $spacer * 2;

    .container {
      display: flex;
      flex-wrap: wrap;

      div {
        &:not(:last-of-type) {
          padding-right: $spacer * 3;
        }
      }
    }

    &-section {
      &-header {
        font-weight: $bold-font-weight;
        margin-bottom: $spacer;
      }
      &-content {
        p {
          font-weight: $bold-font-weight;
          margin-bottom: $spacer;
          font-size: $small-font-size;
          color: $gray;

          a {
            text-decoration: none;
            color: $gray;
          }
        }
        &--split {
          display: grid;
          column-gap: $spacer * 4;
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
}
