@import "../../../globalStyles/scss/variables.scss";

.breadcrumbs {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 20px 0;

  li {
    &:first-child {
      a {
        color: $mainColorHeader;
      }
    }
    &:last-child {
      pointer-events: none;
    }
    &:not(:last-of-type) {
      &:after {
        content: url("../../../images/breadcrumbs-arrow.svg");
        display: inline-block;
        margin: 0 $spacer / 2;
      }
    }

    a {
      color: $black;
      text-decoration: none;
      vertical-align: middle;
      transition: 0.3s;
      font: normal normal normal 16px/25px Arial;
      letter-spacing: 0.28px;

      &:hover {
        text-decoration: underline;
      }
      &:focus {
        text-decoration: underline;
        // color: $orange;
      }
    }
  }

  &__active {
    a {
      color: $base-font-color;
      font-weight: $bold-font-weight;

      // &:hover {
      //   color: $base-font-color;
      // }
    }
  }
}
