@import "../../App/scss/variables.scss";

.products-list {
  &__filters {
    background-color: $gray-light;

    &__grid {
      display: flex;
      flex-wrap: wrap;

      &__filter {
        min-width: 15rem;
        padding: $spacer $spacer $spacer 0;
      }
    }
  }

  &__products {
    &__subheader {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      font-size: $small-font-size;
      align-items: center;

      &__total {
        color: $gray;
        margin: $spacer 0;
      }

      &__sort {
        display: flex;
        align-items: center;

        span {
          color: $gray;
        }

        .dropdown-component {
          min-width: 10rem;
        }
      }
    }

    &__grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 2rem;

      @media (min-width: $small-screen) {
        grid-template-columns: 1fr 1fr;
      }

      @media (min-width: $medium-screen) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }

      a {
        text-decoration: none;
        color: inherit;
      }
    }

    &__load-more {
      margin: $spacer * 5 0;
      text-align: center;
    }
  }
}
