@import "../../../globalStyles/scss/variables.scss";

.product-list-item-news {
  text-align: center;
  background: $white;
  // padding-left: 34px;
  border-radius: 3px;
  height: 100%;
  position: relative;
  // border: 1px solid #ebecf0;
  &-wrapper {
    width: 380px;
    padding: 0 14px;
  }

  &__info {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 13px;
  }
  &__image {
    img {
      object-fit: cover !important;
      width: 100%;
      height: 100%;
    }
  }

  &__icon-seller {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid $black;
  }

  &__seller {
    margin-left: 7px;
    font: normal normal normal 16px/24px Arial;
    letter-spacing: 0.32px;
    color: $black;
    opacity: 1;
  }

  &__title-news {
    // text-transform: $product-item-title-text-transform;
    font-weight: $product-item-title-font-weight;
    font: normal normal bold 20px/28px Arial;
    letter-spacing: 0.4px;
    color: $black;
    text-transform: capitalize;
    opacity: 1;
    margin: 14px 0 5px 0;
    text-align: left;
  }

  &__undiscounted_price {
    text-decoration: line-through;
    color: $gray;
    font-size: $small-font-size;
    font-weight: regular;
  }

  &__category {
    color: $product-item-category-color;
    text-align: center;
  }

  &__description {
    // font-weight: $product-item-price-font-weight;
    // margin: $product-item-price-margin;
    // margin-top: 0.5 * $spacer;
    font: normal normal normal 16px/25px Arial;
    letter-spacing: 0.32px;
    color: $black;
    opacity: 1;
    text-align: left;
    margin-bottom: 10px;
    max-height: 146px;
  }

  &__button {
    // position: absolute;
    bottom: 10px;
    width: 215px;
    height: 45px;
    background-color: #188c72;
    border-radius: 5px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    svg {
      margin-top: 5px;
    }
    span {
      margin-left: 20px;
      text-align: center;
      color: $white;
      font-weight: 100;
    }
  }

  &__image {
    background-color: $turquoise-light;
    display: flex;
    height: 264px;
    width: 352px;
    justify-content: center;

    img {
      object-fit: contain;
      max-width: 100%;
    }

    @media (max-width: $small-screen) {
      height: 210px;
    }
  }
}
