@import "../../../globalStyles/scss/variables.scss";

.user-account-navigation {
  display: flex;
  width: 100%;
  margin-top: 3rem;
  justify-content: space-between;

  &__link {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    outline: none;
  }

  &__link_container {
    display: flex;
    flex-direction: column;
    width: 16rem;
  }

  &__underline {
    margin: 1rem 0;
    height: 0.5rem;
    width: 16rem;
    background-color: #3ee7cd;
    mix-blend-mode: normal;
    -ms-transform: skew(70deg);
    -webkit-transform: skew(70deg);
    transform: skew(70deg);
  }
}
