body[data-sxp~="checkout-btn#b"] {
  font-family: Comic Sans MS;

  .product-description__action {
    background-color: #290f57;

    &:hover {
      background-color: #180d46;
    }
  }
}

body[data-sxp~="checkout-btn#c"] .product-description__action {
  background-color: #ffbb00;

  &:hover {
    background-color: #eeaa00;
  }
}
