@import '../../App/scss/variables.scss';

button {
  background-color: $turquoise;
  transform: skew(45deg);
  padding: 0.5rem 3rem;
  border: none;
  box-shadow: -5px 5px 14px 0px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  outline: none;
  margin-left: 1.2rem;

  span {
    display:inline-block;
    color: $white;
    font-size: $button-font-size;
    text-transform: uppercase;
    font-weight: bold;
    line-height: $button-line-height;
    transform: skew(-45deg);
  }

  &:hover, &.hover {
    background-color: $turquoise-dark;
  }

  &:active, &.active {
    box-shadow: -3px 3px 14px 0px rgba(0, 0, 0, 0.2);
  }
}
