@import '../../App/scss/variables.scss';

button {
  background-color: $turquoise;
  transform: $button-transform;
  padding: $button-padding;
  border: none;
  box-shadow: $button-box-shadow;
  transition: $button-transition;
  outline: none;
  margin-left: $button-left-margin;

  * {
    display: inline-block;
    color: $white;
    font-size: $button-font-size;
    text-transform: $button-text-transform;
    font-weight: $button-font-weight;
    line-height: $button-line-height;
    transform: $button-content-transform;
  }

  &:hover {
    background-color: $turquoise-dark;
  }

  &:active {
    box-shadow: $button-box-shadow-clicked;
  }
}
