@import "../../../globalStyles/scss/variables.scss";

button.button {
  background-color: $background-tan;
  padding: $button-padding;
  border: none;
  border-radius: .5rem;
  outline: none;
  font-family: $base-font-family;
  cursor: pointer;

  @media (max-width: $small-screen) {
    width: 100%;
    max-width: 100%;
  }

  > span {
    display: inline-block;
    color: $white;
    font-size: $button-font-size;
    font-weight: $button-font-weight;
    line-height: $button-line-height;
    text-transform: uppercase;
  }

  &:hover {
    background-color: $background-tan;
  }

  &:active {
    box-shadow: $button-box-shadow-clicked;
  }

  &.secondary {
    background-color: $white;
    box-shadow: inset 0px 0px 0px 3px $blue;
    border-left: 1px solid $blue;
    border-right: 1px solid $blue;

    * {
      color: $blue;
    }

    &:hover {
      background-color: $blue;

      * {
        color: $white;
      }
    }

    &:active {
      background-color: $blue-dark;
    }
  }

  &:disabled {
    background-color: $gray;

    &,
    &:hover {
      cursor: default;
    }
  }
}

button.btn-checkout-continue {
  position: fixed;
  bottom: 50px;
  right: 20px;
  background-color: transparent;
  width: 45% !important;
  border: 1px solid $background-tan;
  color: $background-tan;
  padding: .5rem;
  border-radius: .8rem;

  > span {
    display: inline-block;
    color: $background-tan;
    font-size: 1rem;
    font-weight: 100;
    line-height: $button-line-height;
  }

  > i {
    font-size: 1.8rem;
    vertical-align: sub;
    margin-left: 1rem;
    font-weight: 100;
  }

}
