@import "../../App/scss/variables.scss";

.checkut-review {
  &__content {
    margin: 0 0 $spacer * 3 $spacer * 3;

    &__summary {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: $spacer * 2;
      margin-top: $spacer * 5;

      @media (min-width: $small-screen) {
        grid-template-columns: 1fr 1fr;
      }

      @media (min-width: $medium-screen) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }

      h4 {
        font-weight: $bold-font-weight;
        text-transform: uppercase;
        margin-bottom: $spacer;
        padding-bottom: $spacer;
        border-bottom: 1px solid $gray-light;
      }
    }

    &__thumbnail {
      img {
        width: 50px;
        height: auto;
      }
    }

    &__submit {
      text-align: right;
      margin-top: $spacer * 6;
    }
  }
}
