@import "../../App/scss/variables.scss";

.input {
  position: relative;
  box-sizing: border-box;

  &__field {
    display: block;
    padding: 0.8rem 1rem;
    font-size: $base-font-size;
    font-weight: $bold-font-weight;
    border: 1px solid $blue;
    outline: none;
    box-shadow: 0 0 0 1px $white;
    background-color: transparent;

    &:focus {
      box-shadow: 0 0 0 1px $blue;
    }

    &--error {
      border: 1px solid $rose;

      &:focus {
        box-shadow: 0 0 0 1px $rose;
      }
    }

    &--left-icon {
      padding-left: $spacer * 3;
    }
  }

  &__label {
    font-size: $label-font-size;
    color: $label-color;
    margin-bottom: $spacer / 2;
    display: inline-block;
    font-weight: $bold-font-weight;
  }

  &__error {
    color: $rose;
    font-size: $label-font-size;
  }

  &__help-text {
    color: $label-color;
    font-size: $label-font-size;
  }

  &__icon-left {
    position: absolute;
    left: $spacer;
    top: 50%;
    transform: translate(0, -50%);
  }

  &__icon-right {
    position: absolute;
    right: $spacer;
    top: 50%;
    transform: translate(0, -50%);
  }
}
