@import "../../App/scss/variables.scss";

.md-icon {
    color: $gray-dark;
    fill: $gray-dark;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    vertical-align: middle;
}