.select {
  position: relative;

  &__options {
    position: absolute;
    padding: 10px 0;
    left: 0;
    bottom: -5px;
    transform: translateY(100%);
    width: 105%;
    min-width: 80px;
    min-height: 80px;
    max-height: 60vh;
    opacity: 0;
    z-index: -1;
    border-radius: 4px;
    transition: all 0.3s ease;
    &--open {
      opacity: 1;
      z-index: 1;
    }
  }
}
