@import "../../../globalStyles/scss/variables.scss";

.user-account-container {
    width: 80%; 
    justify-content: center;
    margin: 5rem auto;

    @media (max-width: $small-screen) {
        width: 100%;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}