@import "../../App/scss/variables.scss";

.product-description {
  h3 {
    text-transform: uppercase;
    font-weight: $bold-font-weight;
    margin-bottom: $spacer;
  }

  h4 {
    font-weight: $bold-font-weight;
    margin-bottom: $spacer;
  }

  &__about {
    margin: $spacer * 2 0;

    h4 {
      font-weight: $bold-font-weight;
      color: $gray;
      border-bottom: 1px solid $gray;
      padding-bottom: $spacer / 2;
      margin-bottom: $spacer / 2;
    }

    p {
      font-size: $small-font-size;
    }
  }

  &__action {
    margin-left: $spacer * 1.5;
  }

  &__variant-picker {
    display: grid;

    .react-select-wrapper {
      width: 50%;

      &:not(:last-of-type) {
        margin-bottom: 1rem;
      }
    }

    &__quantity {
      display: flex;

      .input {
        margin-left: $spacer * 2;
        max-width: 6rem;

        .input__field {
          max-width: 100%;
        }
      }
    }
  }
}
