@import "../../../globalStyles/scss/variables";

.sample-page {
  padding: 1.0625rem;
  background-color: $alabaster;
}

.collection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.125rem;

  &-wrapper {
    display: flex;
    align-items: center;

    &__main {
      display: flex;
      align-items: center;

      &-name {
        color: $dull-orange;
        font-size: $small-font-size;
      }

      &-icon {
        margin-right: 0.313rem;

        & > div {
          display: flex;
        }
      }
    }

    &__grid {
      margin-right: ($spacer * 2);
    }
  }
}

.wrapper-img {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 0.875rem;
  row-gap: 0.875rem;
  margin-bottom: 2.125rem;

  &-main {
    position: relative;
    width: 100%;
    padding-top: 100%;
    background-color: $white;
    height: 14.375rem;
    border-radius: 0.313rem;

    &-inner {
      border: 1px solid transparent;
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 0.438rem 1.375rem;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      &.withBorder {
        border: 1px solid #b09a51;
      }

      &--header {
        display: flex;
        justify-content: center;
        font-size: $small-font-size;
        color: $dark-gray;
        span {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
        }
      }

      &--img {
        height: 8.125rem;
        margin: 0.5rem 0 0.875rem;

        img {
          max-width: 100%;
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }

      &--price {
        display: flex;
        justify-content: center;

        .old-price {
          font-size: 0.75rem;
          margin-right: 0.5rem;
          color: $gray;
        }

        .new-price {
          font-size: 0.8125rem;
          color: $dull-orange;
        }
      }
    }
  }
}
