@import "../../../globalStyles/scss/variables.scss";

.orderRow__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    color: $gray-dark;
  }

  & + div {
    border-top: 1px solid #eaeaea;
    cursor: pointer;
    div {
      color: $base-font-color;
    }
  }

  img {
    width: 50px;
    height: auto;
  }

  &__indexNumber {
    width: 15%;
    @media screen and (max-width: $small-screen) {
      width: 50%;
    }
  }

  &__products {
    width: 25%;
  }

  &__date {
    width: 25%;
  }

  &__status {
    width: 25%;

    @media screen and (max-width: $small-screen) {
      width: 50%;
    }
  }

  &__price {
    width: 10%;
  }
}
