@import "../../App/scss/variables.scss";

.side-nav {
  width: 30rem;
  max-width: calc(100vw - 5rem);

  ul {
    li {
      border-bottom: 1px solid $gray-light;

      a {
        display: block;
        padding: $spacer;
        text-decoration: none;
        color: $base-font-color;
        text-transform: uppercase;
        font-weight: $bold-font-weight;
        transition: 0.3s;

        &:hover {
          color: $turquoise;

          svg * {
            fill: $turquoise;
          }
        }
      }
    }
  }

  &__icon-item {
    div {
      display: inline-block;
      margin-right: $spacer / 2;
      vertical-align: middle;

      svg * {
        transition: 0.3s;
      }
    }
  }
}
