@import "../../App/scss/variables.scss";

.side-nav {
  width: 30rem;
  max-width: calc(100vw - 5rem);

  &__menu-item {
    border-bottom: 1px solid $gray-light;

    a {
      align-items: center;
      color: #323232;
      display: flex;
      font-weight: 600;
      height: calc(3.6rem - 1px);
      text-decoration: none;
      text-transform: uppercase;
      transition: 0.3s;

      &:hover {
        color: $turquoise;
      }

      svg * {
        fill: currentColor;
      }
    }

    &--parent {
      color: $gray;
      display: grid;
      grid-template-columns: 1fr 3.6rem;

      a {
        color: inherit;
      }
    }

    &-back {
      div {
        display: flex;
      }
      svg {
        margin-right: 1rem;
      }
    }

    &-close {
      align-items: center;
      cursor: pointer;
      display: flex;
      justify-content: center;

      span {
        background-color: currentColor;
        border-radius: 1px;
        height: 3px;
        width: 24px;
      }

      &:hover {
        color: $turquoise;
      }
    }

    &-label {
      display: flex;
      margin: 0 $spacer;
    }
  }

  &__icon-item {
    div {
      display: inline-block;
      margin-right: $spacer / 2;
      vertical-align: middle;

      svg * {
        transition: 0.3s;
      }
    }
  }
}
