.InfoCard {
  position: absolute;
  top: calc(50% - 70px);
  left: 15%;
  font-size: 45px;
  line-height: normal;
  pointer-events: all;
}

.InfoCard * {
  margin: 10px;
}

.InfoCard .Title {
  color: white;
  text-transform: uppercase;
  text-shadow: 0px 2px 2px rgba(150, 150, 150, 1);
}

.InfoCard .Subtitle {
  color: #E77A25;
  text-shadow: 0px 1px 1px rgba(150, 150, 150, 0.79);
}

@media (max-width: 1920px) {
  .InfoCard {
    top: calc(50% - 55px);
    font-size: 35px;
  }
}

@media (max-width: 1280px) {
  .InfoCard {
    top: calc(50% - 50px);
    font-size: 30px;
  }
}

@media (max-width: 800px) {
  .InfoCard {
    top: calc(50% - 35px);
    font-size: 15px;
  }
}
